@page "{id:int}"
@model Revise.Pages.Question.CreateModel
@{
    ViewData["Title"] = "Add Question";
    var courseId = Convert.ToInt32(RouteData.Values["id"]);
}

<h2>Add Question</h2>

<form method="post">
    <input type="hidden" name="TopicName" value="@Model.TopicName" />
    <input type="hidden" name="CourseId" value="@Model.CourseId" />
    <div class="row">
        <label for="question">Question:</label>
        <input id="question" name="NewQuestion.Question" />
    </div>
    <div class="row">
        <label for="answers">Answers:</label>
        <div id="answerFields">
            <div class="answerField">
                <input class="answer" name="NewQuestion.Answers[0].Text" />
                <input type="checkbox" class="isCorrect" name="NewQuestion.Answers[0].IsCorrect" /> Correct
            </div>
        </div>
    </div>
    <button type="button" id="addAnswer">Add another answer</button>
    <div class="row">
        <button type="submit">Add Question</button>
    </div>
</form>

<script>


    var answerIndex = 1;

    document.getElementById('addAnswer').addEventListener('click', function () {
        var answerFields = document.getElementById('answerFields');
        var newFieldHtml = `
                <div class="answerField">
                    <input class="answer" name="NewQuestion.Answers[${answerIndex}].Text" />
                    <input type="checkbox" class="isCorrect" name="NewQuestion.Answers[${answerIndex}].IsCorrect" /> Correct
                </div>
            `;
        answerFields.insertAdjacentHTML('beforeend', newFieldHtml);
        answerIndex++;
    });

    // Code for changing checkbox values before form submission
    document.querySelector('form').addEventListener('submit', function (e) {
        document.querySelectorAll('.isCorrect').forEach(function (checkbox) {
            checkbox.value = checkbox.checked ? 'true' : 'false';
        });
    });
</script>
