@page "{id:int}"
@model Revise.Pages.Question.IndexModel
@{
    var courseId = Convert.ToInt32(RouteData.Values["id"]);
}

<div class="container">
    <h1>Topics</h1>

    <div class="row">
        @foreach (var topic in Model.Topics)
        {
            <div class="col-sm-4">
                <a href="/Question/View?topic=@topic" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@topic</h5>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
    <div class="row">
        <div class="col-md-3">
        <a href="../Create/@courseId" class="btn btn-primary">Add New Question</a>
        </div>
    </div>
</div>