@page
@model QuestionModel
@{
}

<div class="container">
    @foreach (var question in Model.Questions)
    {
        <div class="question-block">
            <h2>@question.Question</h2>
            @foreach (var answer in question.Answers)
            {
                <p class="answer">@answer.Text
                <span class="correctness">
                    @if (answer.IsCorrect)
                    {
                        <i class="fas fa-check"></i>
                    }
                    else
                    {
                        <i class="fas fa-times"></i>
                    }
                    </span>
                </p>
            }
            <a href="/Question/Edit/@question.Id" class="edit-button">Edit</a>
        </div>
    }
</div>
