@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Revise!</h1>
    <p>Revise is your one-stop solution for all your revision needs. We provide a platform where you can create, edit, and practice revision questions to enhance your learning experience.</p>
    <p>Get started by <a href="/Question/Create">creating your first question</a> or <a href="/Question/Index">browsing the existing ones</a></p>
    
    <p>Happy revising!</p>
</div>
